.benefits{
&__container{
    padding-top: 94px;
    padding-bottom: 94px;
}
&__section{
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
&__item{
    width: 270px;
}
&__item::before{
    display: block;
    content: ' ';
   
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    
    background-repeat: no-repeat;
    background-position: center;
}
&__item:nth-child(1)::before{
       
        background-image: url(../icon/antenna.svg);
}
&__item:nth-child(2)::before{
       
        background-image: url(../icon/clock.svg);
}
&__item:nth-child(3)::before{
       
        background-image: url(../icon/diagram.svg);
}
&__item:nth-child(4)::before{
       
        background-image: url(../icon/astronaut.svg);
}
&__item:last-child{
    margin-right: 0;
}
&__title{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
&__text{
    margin-top: 0;
    margin-bottom: 0;
} 
}